<div style="background-image: url(../font2.jpg);background-size: cover;height:800px;">
<% for i in 1..15%>
	<br> 
	<%end %>
	<div class="jumbotron jumbotron-fluid" style="width: 1000px;margin-left: 300px;background-color: rgba(0,0,0,0.3);color: white;">
		<div class="container" >
			<h1 class="display-4" style="text-align: center;color: #ff9f43" style="margin-top: 20px;">Contactez-nous</h1>
			<p class="lead" style="text-align: center;font-size: 30px;line-height: 40px;">Des questions à propos de votre commande ? <br>Des suggestions venant de votre part pour ameliorer notre communication!
				Nous sommes là pour vous aider !<br> Écrivez-nous à  <a href="#" style="color: black;">contact.catipic@gamil.com</a></p>

		</div>
	</div>
</div>