<footer class="footer" data-background-color="black">
      <div class="container">
        <ul style="float: left;" >
          <li>
            <a href="/homes/apropos" >A propos</a>
          </li>
             <li>
            <a href="/homes/contact" class="lienfooter" >Contact</a>
          </li>
        </ul>
        <div class="copyright" id="copyright">
          &copy;
          <script>
            document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
          </script>,Mail: <a href="#">contact.catipic@gmail.com</a>
        </div>
      </div>
</footer>